<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350354208785-ctla0m1gfbv0jk4jbnkvolj3v6225l1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350354208785-ctla0m1gfbv0jk4jbnkvolj3v6225l1r</string>
	<key>API_KEY</key>
	<string>AIzaSyCc4XzRrVhd3TYl4Kl4brI9OPK110EuQnE</string>
	<key>GCM_SENDER_ID</key>
	<string>350354208785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twotech.ebranchdelivery</string>
	<key>PROJECT_ID</key>
	<string>ebranch-c1ea5</string>
	<key>STORAGE_BUCKET</key>
	<string>ebranch-c1ea5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350354208785:ios:c5142bcb6e6790460099b0</string>
</dict>
</plist>